# Personal access
tokens.yaml

# Byte‐compiled / caches
__pycache__/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
.Python
build/
dist/
eggs/
.eggs/
sdist/
*.egg-info/
*.egg

# vscode
.vscode/
